.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 10px 15px 10px 0px;
}

.card img{
    width: 100%;
    height: 300px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 20px;
    margin: 10px 0px;
    object-fit: contain;
}

.card p{
    color: gray;
    padding-top: 8px;
    font-size:small;
    width: 360px;
}