.banner img{
   width: 100%;
   height: 700px ;
   object-fit: cover;
   border-radius: 20px;
   margin-top: 20px;
}

.banner{
    padding: 0px 50px;
    overflow: hidden;
    position: relative;
}

.banner .banner-content{
    display: flex;
    position:absolute;
    top: 76%;
    left: 5%;
    color: white;
}

.banner .buy-now-btn button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    margin-left: 550px;
    margin-top: 90px;
}

.banner-content p{
    font-size: 60px;
}