.login-container{
    margin: 0;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 500px;
    height: 350px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 6px 12px rgb(0,0,0,0.1);
    border-radius: 20px;
}

.login-title{
    text-align: center;
}

.input-box{
    padding: 10px 30px;
}

.input-box input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid grey;
}

button{
   margin: 20px 30px;
   width: 90%;
   height: 45px;
   background-color: black;
   color: white;
   border-radius: 10px;
   border: none;
}


