.cart{
    margin: 10px 50px;
    display: flex;
}

.your-cart{
    width: 60%;
}

.product{
    display: flex;
    padding-top: 10px;
}

.img-container img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.product-detail{
    padding-top: 40px;
    padding-left: 30px;
}

.product-details{
    display: flex;
    justify-content: space-between;
}

.details{
    padding-right: 230px;
}

.details span{
    font-size: 16px;
}

.product-details h4{
    font-size: 22px;
}

.options{
    display: flex;
    justify-content: space-between;
}

.options ul{
    display: flex;
    list-style-type: none;
    padding-left: 5px;
}

.options button , .options p{
    font-size: 26px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
}

.options ul li{
    margin-left: 20px;
}   

.details .detail-row {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.label {
  color: #888;
  min-width: 60px;
  font-weight: 500;
  font-size: 1px;
}

.value {
  color: #222;
}

.summary{
    width: 40%;
}

.summary .detail-row, .total{
  display: flex;
  justify-content: space-between;
}

.summary .detail-row .lable, hr, .total{
    margin-top: 25px;
}

.checkout-now{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}