.cart{
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.your-cart{
    width: 60%;
}

.product{
    display: flex;
    padding-top: 10px;
}

.img-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.your-cart{
    max-width: 57%;
}

.product-detail{
    padding-top: 40px;
    padding-left: 30px;
}

.product-details{
    display: flex;
    justify-content: space-between;
}

.details{
    padding-right: 100px;
}

.product-details h4{
    font-size: 22px;
}

.options{
    display: flex;
    justify-content: space-between;
}

.options p{
    padding-top: 20px;
    color: #888;
    margin-right: 160px;
}

.options button {
    font-size: 26px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
}  

.details .detail-row {
  display: flex;
  gap: 8px;
}

.summary{
    width: 40%;
}

.summary-heading{
    margin: 0px;
}

.label {
  color: #888;
  min-width: 60px;
  font-weight: 500;
  font-size: 1px;
}

.detail-row .value {
  color: #222;
}

.summary .detail-row, .total{
  display: flex;
  justify-content: space-between;
}

.detail-row .lable, .value, hr, .total{
    margin-top: 25px;
}

.checkout button{
    margin-top: 40px;
    width: 575px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}

