.cart{
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.your-cart{
    width: 60%;
}

.product{
    display: flex;
    padding-top: 10px;
}

.img-container img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.your-cart{
    max-width: 57%;
}

.product-detail{
    padding-top: 40px;
    padding-left: 30px;
}

.product-details{
    display: flex;
    justify-content: space-between;
}

.details{
    padding-right: 100px;
}

.product-details h4{
    font-size: 22px;
}

.options{
    display: flex;
    justify-content: space-between;
}

.options p{
    padding-top: 20px;
    color: #888;
    margin-right: 160px;
}

.options button {
    font-size: 26px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
}  

.details .detail-row {
  display: flex;
  gap: 8px;
}

.summary{
    width: 40%;
}

.summary-heading{
    margin: 0px;
}

.label {
  color: #888;
  min-width: 60px;
  font-weight: 500;
  font-size: 1px;
}

.detail-row .value {
  color: #222;
}

.summary .detail-row, .total{
  display: flex;
  justify-content: space-between;
}

.detail-row .lable, .value, hr, .total{
    margin-top: 25px;
}

.delivery-details{
 margin-top: 60px;
}

.delivery-address{
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

.city-list{
  width: 150px;
  padding: 10px 10px;
  margin: 15px 15px 10px 0px;
  border: 2px solid black;
  border-radius: 20px;
  appearance: base-select;
  cursor: pointer;
  font-size: small;
}

.reciever-details {
    margin-top: 20px;
}

.reciever-details input{
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px;
    margin: 5px 0px;
}

.reciever-details label{
    font-size: small;
}

.reciever-detail{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.checkout{
    display: flex;
    justify-content: space-between;
}

.cash-on-delivery{
    width: 280px;
    height: 40px;
    margin-top: 35px ;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.esewa{
    width: 280px;
    height: 40px;
    margin-top: 35px ;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #3cc850;
    color: black;
}