.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 10px 50px 10px 0px;
}

.card img{
    width: 100%;
    height: 300px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 20px;
    margin: 10px 0px;
    object-fit: contain;
}

.card p{
    color: gray;
    padding-top: 8px;
    font-size:small;
    width: 317px;
}

.card button{
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}