/* Global box-sizing */
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar container */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.1);
  height: 64px;
}

/* Left menu */
.nav-categories {
  justify-self: start;
  display: flex;
  list-style: none;
  font-size: large;
  padding: 0px 50px;
}

.nav-categories a {
  text-decoration: none;
  color: inherit;
  padding-right: 30px;
}

/* Center logo */
.logo {
  justify-self: center; /* center horizontally */
  padding-top: 10px; /* optional spacing */
}

.logo a {
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  font-weight: bold;
}

/* Right menu / user part */
.userPart {
  justify-self: end;
  display: flex;
  list-style: none;
  font-size: large;
  padding: 0px 50px;
}

.username {
  color: orangered;
  font-size: large;
  margin-top: 10px;
  padding-right: 20px;
}

.userPart .logout-button {
  background-color: white;
  border: none;
  font-size: large;
  cursor: pointer;
  margin-top: 10px;
}

/* Icons */
.search-icon,
.cart-icon {
  font-size: 27px;
  padding-right: 30px;
  margin-top: 7px;
}
