/* New Collection section */
*{
    box-sizing: border-box;
}

.new-collection .heading{
   text-align: center;
   padding-top: 100px;
}

.new-collection{
    padding: 100px 50px;
}

.new-collection p{
    color: gray;
}


/* new collection cards */
.nc-cards{
    display: flex;
    justify-content: space-between;
}

.nc-card{
    padding-top: 10px;
}

.nc-card img{
    width: 100%;
    height: 400px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 20px;
    margin: 10px 0px;
    object-fit: contain;
}

.nc-card h4{
    font-size: larger;
}

.nc-card p{
    color: gray;
    padding-top: 8px;
    font-size: small;
    width: 450px;
}



/* For Sport Section */
.for-sport-sec{
    text-align: center;
    padding: 100px 50px;
    overflow: hidden;
}

.for-sport-sec img{
   width: 100%;
   height: 500px ;
   object-fit: cover;
   border-radius: 20px;
}

.for-sport-sec img,h1,p,button{
    margin-bottom: 18px;
}

.for-sport-sec p{
    color: gray;
}

.for-sport-sec button{
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
}



/* Categories Section */
.categories{
    margin: 100px 50px 120px 50px;
    display: flex;
    justify-content: space-between;
}

.category-image img{
    width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.categories .category-card{
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.categories .category-card:hover{
    transform: scale(1.02) ;
}

.categories .category-detail{
   position: absolute;  
   top: 75%;
   left: 10%;
   color: white;
}

.categories .category-detail span{
    font-size: 50px;
}

.categories .category-detail button{
    background-color: white;
    color: black;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.categories .category-detail button:hover{
    background-color: black;
    color: white;
    transform: scale(1.15);
}

.categories .category-detail .category-heading{
    font-size: 45px;
    font-weight: 600;
}


/* Last email form and links section */
.last-part{
    display: flex;
    justify-content: space-between;
}


/* email form */
.email-form{
    padding:20px 50px;
}

.email-form h1{
    font-size: 90px;
}

.email-form span{
    color: gray;
}

.email-form .input-box{
    display: flex;
    padding: 30px 0px;
}

.email-form .input-box input{
    width: 380px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 100px;
    padding-left: 20px;
}

.email-form .input-box button{
    width: 150px;
    height: 43px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 10px;
}


/* links to navigate */
.navigate-links{
    margin: 40px 50px;
}

.navigate-links table tr th{
    padding-left: 110px;
    padding-bottom: 20px;
    font-size: larger;
}

.navigate-links table tr td{
    padding-left: 110px;
    padding-bottom: 5px;
    color: gray;
}

.navigate-links table tr td a{
    text-decoration: none;
    color: gray;
}
