html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 0px 50px;
  flex-shrink: 0; 
}

.copyright {
  padding: 21px 0px;
}

.policy ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.policy ul li {
  padding: 0px 15px;
}
