.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0px 50px;
}

.copyright{
   padding: 21px 0px;
}

.policy ul{
   display: flex;
   list-style-type: none;
}

.policy ul li{
    padding:0px 15px;
}