*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a{
   text-decoration: none; 
   color: inherit;
}

button{
    cursor: pointer;
}

.error{
    color: red; 
    text-align: center;
}