.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 8px -4px rgb(0,0,0,0.1);
}

.nav-categories, .loginPart{
    display: flex;
    list-style-type: none;
    font-size: large;
    padding: 0px 50px;
}

.nav-categories a{
    text-decoration: none;
    color: inherit;
    padding-right: 30px;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.search-icon,.cart-icon{
    font-size: 25px;
    padding-right: 30px;
}

.logo{
    padding-right: 150px;
    padding-top: 15px;
}