.admin-dashboard {
  display: flex;
  gap: 40px;
  padding: 20px 50px;
}

.product-listing {
  flex: 2;
}

.product-details-form {
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box label {
  font-weight: 600;
  margin-bottom: 5px;
}

.product-details-form input,
.product-category {
  width: 60%;
  padding: 10px 12px;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.product-details-form .input-box {
  padding: 10px 0px;
}

.product-category {
  appearance: baseselect;
  background-color: #fff;
  cursor: pointer;
}

.submit-btn {
  margin: 20px 20px;
  padding: 12px;
  width: 55%;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.product-listing .submit-btn:hover {
  background-color: green;
  color: black;
  transform: scale(1.02);
}

.admin-right-side {
  flex: 1.3;
}

.insights{
  margin-top: 30px;
  padding-bottom: 10px;
}

.product-delete {
  padding-top: 30px;
}

.product-delete input {
  border: 2px solid black;
}

.product-delete .input-box {
  padding: 0px;
}

.product-delete .submit-btn {
  width: 95%;
  margin: 30px 20px;
  transition: transform 0.3s ease-in-out;
}

.product-delete .submit-btn:hover {
  background-color: red;
  color: black;
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .admin-dashboard {
    flex-direction: column;
    padding: 20px;
  }
}
