.register-container{
    margin: 0;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 500px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.register-title{
    text-align: center;
}
